@import url("messages/messages.css");

/* main elements */
body, div, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
}

body {
    background-color: #fff;
}

#logo {
    position: relative;
    left:10px;
}